:root{
    --cor-fundo: rgb(17, 14, 14);
    --cor-header:rgba(22, 20, 20, 0);
    --cor-fonte-primaria:#4d34e2;
    --cor-fonte-secundaria:rgb(223, 209, 209);
    --cor-link: rgb(253, 241, 241);
    --cor-botoes: rgb(120, 91, 223);
    --cor-secundaria: #30353a;
    --fonte-base: 'Libertinus Mono';
    --small : 12px;
    --xsmall:24px;
    --regular: 32px;
    --large: 64px;
    --xLarge: 100px;
}


body{
    font-family: var(--fonte-base);
    font-size: var(--regular);
    background-color: var(--cor-fundo);
    color: var(--cor-fonte-primaria);
}

.card{
    background-color: rgb(22, 21, 21);
}



header{
    background-color: var(--cor-header);
    width: 100%;
    transition: background-color 1s ease;
}

header a:hover{
    transform: scale(1.5);
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color: var(--cor-fonte-secundaria);
}

main{
    background-color: var(--cor-header);
}

p{
    font-size: var(--xsmall);
    color: var(--cor-fonte-primaria);
}

a{
    color: var(--cor-link);
    text-decoration: none;
    
}

#perfil{
    font-size: var(--regular);
    padding: 100px;
}

#perfil img{
    border-color: var(--cor-fonte-primaria);
}

a:hover{
    color: var(--cor-fonte-primaria);
    text-decoration: underline;
}

.projetos:hover{
    background-color: rgb(46, 46, 46);
    cursor: pointer;
    
}



button{
    padding: 5px 10px 5px 10px;
    border: none;
    border-width: 5px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgb(26, 26, 36);
}

button:hover{
    background-color: var(--cor-botoes);
    color: var(--cor-fonte-secundaria);
}

img{
    max-width: 100%;
    height: auto;
}

#top{
    color: var(--cor-fonte-primaria);
}

.hero img{
    height: 50vh;
    width: 32vw;
}


.container-projetos img{
    height: 40vh;
    width: 20vw;
    border-radius: 15%;
}

#footer-links{
    background-color: var(--cor-secundaria);
}

#sobre{
    background-color: var(--cor-header);
}