#information {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: rgba(211, 211, 211, 0.137);
    
}

#textos{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    padding: 30px;
}

#textos h3{
    font-size: 56px;
}

#textos p{
    position: relative;
    font-size: 18px;
    color: #6C6C6C;
    left: 120px;
}

#both {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    gap: 20px;
}

#local-img img {
    width: 150%;
    height: 70vh;
    background-size: contain;
    border-radius: 20px;

}

#local-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#information-elements {
    padding: 4rem 11%;
    width: 100%;
    max-width: 1400px;
    background-color: rgba(211, 211, 211, 0.137);
    box-sizing: border-box;
}



.cards > * {
    flex: 1 1 calc(50% - 40px);
    min-height: 250px;
    max-width: calc(50% - 40px);
}