#trans-btn{
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    display: inline-block;
    padding: 12px 36px 12px 36px;
    border-radius: 5px;
    gap: 15px;
    border-width: 0.1px; 
    border-color: #EDEDED;
    transition:all 0.3s;
}

#trans-btn:hover{
    background-color: #E45400;
    border-color: #E45400 ;
    color: white;
}