#container_pai{
    height: 500px; /*Altura*/
    background-color: gray;
    padding: 25px; /*Margem interna*/
    display: flex; 
    justify-content: center; /*Controla o espaçamento*/
    flex-direction: row; /*Controla o eixo principal*/
    align-items: center; /*Controla o eixo secundario*/
    gap: 15px;
    flex-wrap: wrap;
}

#container-1 {
    padding: 15px;
    background-color: yellow;

}
#container-2 {
    padding: 15px;
    background-color: red;
    
}
#container-3 {
    padding: 15px;
    background-color: black;

}

.font_1{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}